<section id="projects" class="section projects">
  <h2>Projects</h2>
  <div class="project-grid">

  <a href ="https://github.com/spary1144/lady-umbrella_g2_2425" target="" class ="project-card">

    <div class="project-card">
      <div class="project-media">
        <img src="images/LadyUmbrella.png" alt="Lady Umbrella">
      </div>
      <h3>Lady Umbrella</h3>
      <p>Unreal Engine C++ Action - Adventure game.</p>
    </div>
  </a>


  <a href ="https://github.com/spary1144/IntoTheCrops" target="" class ="project-card">
      <div class="project-card">
        <div class="project-media">
          <img src="images/IntoTheCrops.png" alt="Into the Crops">
        </div>
        <h3>Into the Crops</h3>
        <p>C++/OpenGL/FMod/IMGUI Horror game</p>
      </div>
  </a>

    <a href ="https://github.com/spary1144/IntoTheDarkness" target="" class ="project-card">
      <div class="project-card">
        <div class="project-media">
          <img src="images/IntoTheDarkness.png" alt="Into the Darkness">
        </div>
        <h3>Into the Darkness</h3>
        <p>Assembly runner game made for Amstrad Z80</p>
      </div>
    </a>
  
</div>
</section>
