<section id="about" class="section about">
  <div class="about-container">
    <div class="about-image">
      <img src="assets/mi_foto.png" alt="Jorge Marín">
    </div>
    <div class="about-text">
      <h2>Jorge Marín Ferrándiz</h2>
      <h2>Vide Games Programmer</h2>

      <p>I specialize in Gameplay, Sound, Systems, and Tools programming. I love designing mechanics and gameplay programming that feels fun and intuitive.</p>
      <p>In 2023, I graduated from Multimedia Engineering. Since then, I've been pushin myself to learn all I could about the technical details of the video game development.</p>
      <p>Late 2025, I finished U-tad's Advanced Master's Degree in Video Game Programming, where I was trained and mentored by professionals in the video game industry.</p>

      <p>Since 2020, I've been working on different projects to kep myself learning all about videogames.</p>
      <p>Outside of programming, I enjoy Sound Design and composing to give ambience to the games I prototype</p>

    </div>
  </div>
</section>
